/* Connect Custom Fonts */
@font-face {
font-family: 'Verdana',  sans-serif;
src: url('../fonts/Verdana.ttf');
}
/* HEADER START */

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.header {
    padding-top: 49px;
}

.main-bg {
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}

.container {
    width: 1064px;
    margin: 0 auto;
}

.logotype {

    float: left;
    position: absolute;
}

.header-logo{

    text-decoration: none;
    color: #fff;
    margin-top: 5px;
    float:left;
}

.header-logo-img {
    margin-right: 15px;
    background-image: url(../img/css_sprites.png);
    float: left;
    display: block;
    width: 46px;
    height: 44px;
    background-position: -10px -10px;
}

.header-logo:hover .header-logo-img {
    background-position: -76px -10px;
    color: #f26522;
}

.header-logo:hover {    
    color:#f26522;
}

.tour-name:hover {
    color:#f26522;

}


.header-text {

    display: inline-block;
    margin-left: 15px;
  
}
.logo-title {
display: inline-block;
 
}
.logo-title:nth-child(1n){

    text-transform: uppercase;
    font-size: 29px;
    font-weight: 700;
    font-family: 'Verdana', sans-serif;

margin: 0;
}

.logo-title:last-child{
    text-transform: uppercase;
    font-family: 'Verdana', sans-serif;
    font-size: 18px;
    font-weight: 700;
  display: block;
    margin: 0;
     

}
.right-contact {

    line-height: 1.3;
    /* position: relative;
    bottom: 40px; */
    padding: 0;
    float: right;
}

.contact-email {

    font-family: 'Verdana', sans-serif;
    color:  #ffffff;
    font-size: 18px;
    font-weight: 400;
}

.contact-phone {

    text-align: right;
    font-family: 'Verdana', sans-serif;
    color:  #ffffff;
    font-size: 18px;
    font-weight: 400;
 
}

.tour-name {
    font-family: 'Verdana', sans-serif;
color:  #ffffff;
font-size: 18px;
font-weight: 400;
text-decoration: none;
display: block;
text-align: center;
margin-top: 22px;
}


.tours {

    display: block;
}

.tour-type {
    position: relative;
    float: left;
    margin-right: 65px;
    margin-top: 48px;

}

.tour-type:nth-child(3n) {
    margin-right: 0;
}

.tour-details {
   
    width: 100%;
    height: 63px;
    background-color: #f26522;
    opacity: 0;
    transition: 2s;

}



/* HOVER START */
.hover-details {
    position: absolute;
    background-color: #f26522;
    width: 310px;
    height: 0px; 
    overflow: hidden;
    bottom: 42px;
    left: 1px;
    transition: 0.5s ease-out;
    box-sizing: border-box;

}

.tour-type:hover .hover-details {

    height: 63px;
} 

.hover-details-left {

    float:left;
}


.hover-details-left p {
    font-family: 'Verdana', sans-serif;
color:  #ffffff;
font-size: 10px;
font-weight: 400;
margin-left: 21px;
margin-top: 16px;

}
.hover-details-left p:nth-child(2n) {
    font-family: 'Verdana', sans-serif;
    color:  #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    margin-top: 0;
}
.hover-details-left p:nth-child(2n) {
    font-family: 'Verdana', sans-serif;
color:  #ffffff;
font-size: 20px;
font-weight: 400;
line-height: 21px;
text-align: left;
margin-top: 0;
}

.hover-details-right {

    float:right;
    margin-bottom: 17px;


}
.hover-details-right p{
    font-family: 'Verdana', sans-serif;
color:  #ffffff;
font-size: 14px;
font-weight: 400;
margin-right: 15px;
margin-top: 28px;

}

.hover-details-right p::after{
    content: "\203A";
    margin-left: 15px;
    font-size: 18px;
}
/* HOVER END */

/* HEADER END */

.tour-type-img {
border-top: 2px solid #fff;
    border-left: 2px inset #fff;
    border-right: 2px outset #fff;
    box-shadow: 0px 19px 26px 0px #000000;
}

.tour-type:hover .tour-name{
    color:#f26522;

}
.footer {

    text-align: center;

}
.copyright {
    font-family: 'Verdana', sans-serif;
color:  #ffffff;
font-size: 12px;
font-weight: 400;
margin-top: 61px;

    padding-bottom: 20px;
    display: inline-block;

    
}



